*log*
*.bak
*.jou
*.zip
*.swp
*.dcp
*.edf
*.bin
*.dump
*.elf
*.out
*.edn
*.pdi
*.xclbin
*.exe
*.jar
control_top.h
.Xil
__pycache__
scripts/*.v
rtl/*.mif*
rtl/project_*
controller_software/*/*.mif
ulp_design/project_*
ulp_design/kernel_pack_*
standalone_flow/project_*
socket_cc_flow/project_*
socket_cl_flow/project_*
pdi_gen/project_*
benchmarks/hls_kernel/*/proj
checkpoints/hd_visual
