*.log
*.jou
*.zip
*.swp
*.dcp
*.edf
*.bin
*.dump
*.elf
*.out
.Xil
__pycache__
rtl/*.mif*
ulp_design/project_*
ulp_design/kernel_pack_*
standalone_flow/project_*
socket_cc_flow/project_*
socket_cl_flow/project_*
benchmarks/hls_kernel/*/proj
